.DS_Store
node_modules
# /dist
# /dist wel uploaden voor weergave static files in github pages

# ignore ALL files in ANY directory named temp
temp/

# local env files
.env.local
.env.*.local

# ignore ALL .log files
*.log

# Editor directories and files
.idea
.vs
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore package file
# *.tgz

#amplify-do-not-edit-begin
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/mock-api-resources
amplify/backend/amplify-meta.json
amplify/backend/.temp
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end
