* {
    box-sizing: border-box;
    font-family: 'DM Sans',sans-serif;
    font-size: large;
}
html {
    scroll-behavior: smooth;
    display: flex;
    justify-content: center;
}
html, 
body, 
section, 
footer, 
div {
    border-width: thin; 
    border-style: none;
}
hr {
    color: rgba(128, 128, 128, 0.301);
    height: 1px;
    background-color: rgba(128, 128, 128, 0.301);
    border: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
}
button {
    width: 100%;
    background-color: chocolate;
    margin: none;
    border: none;
    color: white;
    font-size: x-large;
}
body {
    /* display: flex verhindert shrink smaller dan 550px */
    border-color: rgb(0, 0, 0);
    margin:0px;
    width: 80%;
    align-items: center;
}
section {
    border-color: grey;
    padding: 20px;
 }
div {
    border-color: rgba(128, 128, 128, 0.301);
}
footer {
    border-style: dashed;
    border-color: grey;
}
h1 {
    padding-top: 20px;
    font-size: xxx-large;
}
h2 {
    font-size: xx-large;
    color: grey;
}
h3 {
    font-size: x-large;
    color: rgba(128, 128, 128, 0.301);
}
a {
    color: gray;
    padding: 10px 10px 10px 10px;
    background-color: white;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    background-color: chocolate;
    color:white;
}

a:active {
    text-decoration: underline;
}
#navbar {
    position: fixed;
    top: 0px;
    height: 50px;
    width: 100%;
    background-color: white;
    display: flex;
    border: none; 
    align-items: center;
    justify-content: space-around;
}
#navbar div {
    border-style:none; 
}
#main {
    margin-top: 50px;
    padding: 0px;
}

#alleclubs, 
#ikwilkennismaken, 
#allelocaties, 
#meeroverkegelen, 
#interesse {
    display: none;
}
.button-wrapper {
    border: none;
}
.form-button-wrapper {
    display: flex;
    flex-direction: row;
    border: none;
    justify-content: space-between;
    align-items: center;
}
.close-section-button {
    display: block;
    margin: auto;
}
.top {
    background-color: #04AA6D;
    padding-top: 0px;
    padding-bottom: 0px;
    color: white;
    font-size: medium;
    margin:auto;
}
@media screen and (max-width: 850px) {
    /* CSS that should be displayed if width is equal to or less than 1280px goes here */
        body, 
        .topnav {
            width: 100%;
        }
}


